body{
    background-color: rgba(130, 130, 120, 0.7);
    display: flex;
    font-family:courier,arial,helvetica;;
    text-transform: capitalize;
}
table{
    border: 1px solid black;
    height: 60vh;
    width: 30vw;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 22px;
}

h4{
    font-size: 22px;
    word-wrap: break-word
}

td{
    border: 1px solid black;
    height: 50px;
    
}

tr{
    border: 1px solid black;
    height: 30px;
}



#pokemon-table img{
    height: 58px;
    width: 70px;
}

#detalhes{
    width: 60vw;
    height: 70vh;
    display: flex;
    background-color: rgba(133, 133, 133, 1.6);
    margin-left: 10px;
}
#imagem{
    height: 350px;
    width: 320px;
    background-color:rgba(133, 133, 133, 0.2 );
}



#imagem-grande{
    height: 40vh;
    width: 18vw;
}

#informacao{
    height: 380px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word
}


.cards{
    margin: 0;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;    
}

/* responsivo*/
@media (max-width: 1200px)
{
  body{

  }
}
