body{
    background-color: rgba(130, 130, 120, 0.7);
    box-sizing: border-box;
    font-family:courier,arial,helvetica;;
    text-transform: capitalize;
}
header {
    display: grid;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

table{
    border: 1px solid black;
    height: 60vh;
    width: 30vw;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}


h4, h2{
    font-size: 20px;
    word-wrap: break-word
}

td{
    border: 1px solid black;
    height: 50px;
    
}

tr{
    border: 1px solid black;
    height: 30px;
}



#pokemon-table img{
    height: 58px;
    width: 70px;
}

#detalhes{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 60vw;
    height: 350px;
    background-color: rgba(133, 133, 133, 1.6);
    margin-left: 10px;
    padding: 20px;
}
#imagem{
    height: 350px;
    width: 20vw;
}



#imagem-grande{
    height: 330px;
    width: 18vw;
}

#informacao{
    height: 380px;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: start;

}

h2, h4 {
    margin:0; 
}
.cards{
    height: auto;
    width: 19vw;
    display: grid;    
    justify-content: flex-start;
    align-content:flex-start;
    
}

/* responsivo*/
@media (max-width : 750px)
{
}
